@import 'tailwindcss';

* {
  border-color: hsl(214.3 31.8% 91.4%);
}

body {
  background-color: white;
  color: hsl(222.2 84% 4.9%);
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(243 244 246);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
}
